
.backgroundSize {
    /* /* min-width:1200px;          */
    /* width: auto !important;   Firefox will set width as auto */
    width:1000px;            /* As IE ignores !important it will set width as 1000px; */
    height:600px;
    /* margin: auto; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* align-content: space-around; */
    /* THIS WAS TERRIBLE ADVICE: Don't need to flex as column, just flex as rows and make the width 100%*/
  }
  
.backgroundColorDefault {
    background-color: #1A2127;
}

.backgroundColorAlternate {
  background-color: rgb(140, 137, 137);
}
.switchPosition {
  position: relative;
  left: 85%;
  top: 0%;
}