
.titleContainer {
    background: green;
}
.titleImage {
    margin-left: auto;  
    margin-right: auto;
    margin-top: 5%;
}
/* TODO: Fix these Margins */
.titleOnImage{
    font-size: 35px;
    font-family: EinsteinRomanOpti;
    position: absolute;
    margin-top: -60px; 
    margin-left: 360px;    
}
  