.titleContainer {
    background: green;
    width: 100%;
    line-height: 0;
    margin: 0;
    height: 279px;
    /* height: 47%; */
}
.titleImage {
  border-top: 40px solid transparent;
  /* background-color: #6DB3F2; */
  vertical-align: middle;
    /* margin-left: auto;  
    margin-right: auto; */
    /* width: 100%; */
    /* margin-top: 5%;  */
}

.subtitlePosition{
  background: yellow;
  width: 100%; 
  /* line-height: 0; */
  margin-top: 100;
  height: 35px;
}
.titleOnImage{
    font-size: 35px;
    font-family: EinsteinRomanOpti;
    margin-top: -55px; 
    margin-left: 45px;
    color: white; 
    /* background: red; */
}
  
.buttonPosition {
    /* margin-top: 60px;   */
    width: 100%;
    /* background: blue; */
    border-top: 80px solid transparent;

}

/* CSS */
.buttonMain {
  background-color: initial;
  background-image: linear-gradient(-180deg, #EC5D11, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: EinsteinRomanOpti;
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}

.buttonMain:hover {
  box-shadow: rgba(253, 76, 0, 0.4) 0 3px 8px;
}