
.titleContainer {
    background: green;
}
.titleImage {
    margin-left: auto;  
    margin-right: auto;
    margin-top: 5%;
}
/* TODO: Fix these Margins */
.titleOnImage{
    font-size: 35px;
    font-family: EinsteinRomanOpti;
    position: absolute;
    margin-top: -60px; 
    margin-left: 360px;
    color: white; 
}
  
.buttonPosition {
    margin-top: 60px;  
}

/* CSS */
.buttonMain {
  background-color: initial;
  background-image: linear-gradient(-180deg, #EC5D11, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: EinsteinRomanOpti;
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}

.buttonMain:hover {
  box-shadow: rgba(253, 76, 0, 0.4) 0 3px 8px;
}