.spacingPage {
  display: flex;
  flex-direction: column;
}

.inputText {
  color: #E62C03;
  background-color: purple;
  
}
.inputBox {
  color: green;
  padding: 10px;
  background-color: blue;
}

.inputBox:hover {
  box-shadow:0 0 4px rgba(255, 123, 0, 1);
}

.buttonPosition {
    border-top: 40px solid transparent;
    display: flex; 
    justify-content: space-evenly;
}